.app{
  min-height: 100dvh;
  /* height: 100dvh; */
  width: 100%;
  /* background-color: aqua; */
  background-color: bla;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.app-header{
  /* background-color: orange; */
  text-align: center;
  color: white;
  padding: 0 1.1rem 0rem 1.1rem;
  font-size: 1.5rem;
}

.display-value-container{
  /* background-color: yellow; */
  border: 1px solid rgba(255, 255, 255, 0.46);
  /* background-color: gray; */
  padding: 0.4rem;
  border-radius: 0.2rem;
  width: 50%;
  height: 30vh;
}

.display-value{
  text-align: center;
  /* background-color: pink; */
  /* background-color: black; */
  background-color: rgb(41, 41, 41);
  color: white;
  height: 60%;
  font-size: 2rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.mathematical-buttons{
  /* background-color: lime; */
  padding: 0.1rem;
  /* display: none; */
  /* visibility: hidden; */
  height: 40%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
}

.subtract-button{
  cursor: pointer;
  /* margin: 5rem; */
  /* width: 100%; */
  width: 45%;
  font-size: 5rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.add-button{
  /* margin-left: 0.5rem; */
  cursor: pointer;
  width: 45%;

  font-size: 3.5rem;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.initial-state-collector-container{
  background-color: cyan;
  width: 50%;
  padding: 0.4rem;

  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  align-items: center;
  justify-content: center;
  /* height: 5vh; */
}

.initial-state-input-box-label{
  font-size: 0.9rem;
}

.initial-state-input-box{
  height: 100%;
}